node_modules
.env
.DS_Store
dist

# Hardhat files
/cache
/artifacts
src/cache
src/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments
