node_modules
.env
.DS_Store

# Hardhat files
/cache
/artifacts
src/cache
src/artifacts
dist/src/artifacts

# TypeChain files
/typechain
/typechain-types
dist/typechain
dist/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments
